name: auto-deploy
#on:
#  schedule:
#    - cron: "30 7 7,17,28 * *"
on: [ push ]
#
#  push:
#    branches-ignore:
#      - '**'
jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - name: Create build setup
      env:
        TOKEN: ${{ secrets.VAGTOKEN }}
      run: |
        sudo su - github
        cd $GITHUB_WORKSPACE
        sudo chown -R github /home/docker
        sudo apt-get update
        sudo apt-get --yes install unzip python3-pip
        sudo pip3 install ansible
        sudo pip3 install jmespath
        wget https://releases.hashicorp.com/packer/1.6.0/packer_1.6.0_linux_amd64.zip
        unzip packer_1.6.0_linux_amd64.zip
        sudo mv packer /usr/bin/
        rm -rf .vagrant
        vagrant --version
        packer build -force cis_centos7.json
        du -sh boxes/*
        cd boxes/
        vagrant cloud auth login --token $TOKEN
        vagrant cloud publish karthickk/centos7-cis 1.0.1 virtualbox package.box \
        -d "auto-generated by github-action" \
        --version-description "+ vbox guest additons + cis rhel standards" --release \
        --short-description "Official CentOS 7 image hardened by CIS standards. Includes latest virtualbox guest additions with epel repo enabled" --force
        
